

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverPW</title>
</head>
<body>
    <p style="font-size:13px">
        Hi @ViewBag.Name,
           
    </p>
    <p>
        Your password recovery code is <b>@ViewBag.Pass</b>.
    </p>
</body>
</html>
