<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4730ad4a-01e3-46ee-a049-b8eb57847116/resourceGroups/Eco-Garb-research-group/providers/Microsoft.Web/sites/Eco-Garb-WebApplication</ResourceId>
    <ResourceGroup>Eco-Garb-research-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eco-garb-webapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eco-garb-webapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Eco-Garb-WebApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Eco-Garb-WebApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBcon" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=EcoGarb_it14064814;Password=database_password@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=&quot;EcoGarb_it14064814&quot;;Password=&quot;database_password@123&quot;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="templateProj.Models.DataContext, templateProj" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=EcoGarb_it14064814;Password=database_password@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=&quot;EcoGarb_it14064814&quot;;Password=&quot;database_password@123&quot;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="templateProj.Models.ApplicationDbContext, templateProj" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="templateProj.Models.UserContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=EcoGarb_it14064814;Password=database_password@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID=&quot;EcoGarb_it14064814&quot;;Password=&quot;database_password@123&quot;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="templateProj.Models.UserContext, templateProj" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="templateProj.Models.UserContext-Web.config Connection String">
      <ParameterValue>Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID="EcoGarb_it14064814";Password="database_password@123";MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID="EcoGarb_it14064814";Password="database_password@123";MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBcon-Web.config Connection String">
      <ParameterValue>Server=tcp:eco-garb-database-server.database.windows.net,1433;Initial Catalog=Eco-Garb-database;Persist Security Info=False;User ID="EcoGarb_it14064814";Password="database_password@123";MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="templateProj.Models.UserContext" />
  </ItemGroup>
</Project>