@model templateProj.Models.SendMailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Revover Password Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../Styles/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Styles/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../Styles/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page" >
    <div class="register-box" >
        <div class="register-logo">
            <a href="#"> <b>Eco-Garb</b></a>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <h4>Password Recovery</h4>
            </div>
        </div>

        <div class="register-box-body" >

                        @using (Html.BeginForm("SendEmail", "Email", FormMethod.Post))
                        {
                            <div id="box1" class="show">
                                <div class="form-group has-feedback" id="divUname">
                                    <input type="text" name="uname" id="Uname" class="form-control" placeholder="Username" oninput="checkUserValidity()">
                                    <span class=" glyphicon glyphicon-user form-control-feedback"></span>

                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>

                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color:seagreen">Send Email</button>
                                    </div>
                                </div>
                            </div>
                        }

                       
                           <div id="box2" class="hide">
                               <div class="form-group has-feedback" id="divCode">
                                   <input type="text" id="Rcode" class="form-control" placeholder="Recovery Code" oninput="checkRecoveryCode()">
                                   <span class=" glyphicon glyphicon-user form-control-feedback"></span>
                               </div>

                               <div class="row">
                                   <div class="col-md-4"></div>
                                   <div class="col-md-4">
                                       <button type="button" class="btn btn-primary btn-block btn-flat" onclick="resetPassword();" style="background-color:seagreen">Check</button>
                                   </div>
                               </div>
                           </div>
            @using (Html.BeginForm("NewPW", "Login", FormMethod.Post))
            { 
                            <div id="box3" class="hide">
                                <div class="form-group has-feedback" id="divPass">
                                    <input type="password" name="pw" id="pw1" class="form-control" placeholder="New Password" oninput="PasswordValidity()">
                                    <span class=" glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback" id="divcPass">
                                    <input type="password" id="pw2" class="form-control" placeholder="Confirm Password" oninput="ConfirmPW(this);">
                                    <span class=" glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <input id="hid" name="username"  type="hidden" value="" />
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="submit" id="btnSubmit" class="btn btn-primary btn-block btn-flat" style="background-color:seagreen" disabled>Submit</button>
                                    </div>
                                </div>
                              
                            </div>
            }
            </div>







        </div><!-- /.register-box -->
    <!-- jQuery 2.1.4 -->
                <script src="../../Styles/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
                <script src="../../Styles/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
                <script src="../../Styles/plugins/iCheck/icheck.min.js"></script>

    <script>
        var Er = '@ViewBag.Error';
        
        var name = '@ViewBag.Uname'
       
        

        @{
            string Code = "";
            try
            {
                  Code  = Model.RecoverCode;

            }
            catch(Exception e)
            {

            }
         }
            if (Er == "Nerror")
            {
                document.getElementById("box1").className = "hide";
                document.getElementById("box2").className = "show";

            }

            function resetPassword() {

                if ('@Code' == document.getElementById("Rcode").value)
                {

                    document.getElementById("box2").className = "hide";
                    document.getElementById("box3").className = "show";
                }
            }

            function PasswordValidity() {
                document.getElementById("btnSubmit").disabled = true;
                var exists = document.getElementById("passValidate");
                if (exists) {
                    //error occured
                    // remove it 
                    var parent = document.getElementById("divPass");
                    var child = document.getElementById("passValidate");
                    parent.removeChild(child);
                    document.getElementById("pw1").style.borderColor = "green";
                }
            }

        function ConfirmPW(input)
        {
            var matNum = /[0-9]/;
            var lowcase = /[a-z]/;
            var upcase = /[A-Z]/;

            document.getElementById("btnSubmit").disabled = true;
            var pass = document.getElementById("pw1").value ;
            var cpass = document.getElementById("pw2").value;
         
            if (pass == null || pass == "" || pass.length < 6 || !pass.match(matNum) || !pass.match(lowcase) || !pass.match(upcase)) {

                if (pass == null || pass == "") {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passValidate")
                    var node = document.createTextNode("please enter the password");
                    para.appendChild(node);
                    var element = document.getElementById("divPass");
                    element.appendChild(para);

                    var child = document.getElementById("passValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passValidate").style.color = "red";
                    document.getElementById("pw1").style.borderColor = "red";

                }
                else if (pass.length < 6) {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passValidate")
                    var node = document.createTextNode("pasword must contains atleast 6 characters");
                    para.appendChild(node);
                    var element = document.getElementById("divPass");
                    element.appendChild(para);

                    var child = document.getElementById("passValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passValidate").style.color = "red";
                    document.getElementById("pw1").style.borderColor = "red";
                }

                else if (!pass.match(matNum)) {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passValidate")
                    var node = document.createTextNode("password must contains atleast 1 number");
                    para.appendChild(node);
                    var element = document.getElementById("divPass");
                    element.appendChild(para);

                    var child = document.getElementById("passValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passValidate").style.color = "red";
                    document.getElementById("pw1").style.borderColor = "red";
                }

                else if (!pass.match(lowcase)) {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passValidate")
                    var node = document.createTextNode("password must contains atleast 1 lowercase letter");
                    para.appendChild(node);
                    var element = document.getElementById("divPass");
                    element.appendChild(para);

                    var child = document.getElementById("passValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passValidate").style.color = "red";
                    document.getElementById("pw1").style.borderColor = "red";
                }

                else if (!pass.match(upcase)) {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passValidate")
                    var node = document.createTextNode("password must contains atleast one uppercase letter");
                    para.appendChild(node);
                    var element = document.getElementById("divPass");
                    element.appendChild(para);

                    var child = document.getElementById("passValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passValidate").style.color = "red";
                    document.getElementById("pw1").style.borderColor = "red";
                }
            } 

            else {
                //check error occured before and remove it

                var exists = document.getElementById("passValidate");
                if (exists) {
                    //error occured
                    // remove it 
                    var parent = document.getElementById("divPass");
                    var child = document.getElementById("passValidate");
                    parent.removeChild(child);
                    document.getElementById("pw1").style.borderColor = "green";
                }

                //then match pass with cpass 
                if (pass != cpass) {
                    //if not matching create error element for cpass
                    var para2 = document.createElement("p");
                    para2.setAttribute("id", "cpassValidate")
                    var node2 = document.createTextNode("Password must be matching");
                    para2.appendChild(node2);
                    var element2 = document.getElementById("divcPass");
                    element2.appendChild(para2);

                    var child2 = document.getElementById("cpassValidate");
                    element2.replaceChild(para2, child2);

                    document.getElementById("cpassValidate").style.color = "red";
                    document.getElementById("pw2").style.borderColor = "red";
                }

                if (pass == cpass) {
                    ////remove error element if exisits 
                    var exists2 = document.getElementById("cpassValidate");
                    if (exists2) {
                        //error occured
                        // remove it 
                        var parent3 = document.getElementById("divcPass");
                        var child3 = document.getElementById("cpassValidate");
                        parent3.removeChild(child3);
                        document.getElementById("pw2").style.borderColor = "green";

                        // set username (hidden)
                        document.getElementById("hid").value = name;
                        ////set button enable true
                        document.getElementById("btnSubmit").disabled = false;
                    }
                }
            }
        }



    </script>

    <style>

        .hide{

            display:none;
        }

        .show{
            display:initial;
        }


    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        function checkUserValidity() {

            var username = document.getElementById("Uname").value;

            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '/Login/CheckUserValidity',
                data: { username: username },
                dataType: "Json",
            }).success(function (result) {

                //if user exists
                if (result.res) {
                    var exists = document.getElementById("unameValidate");
                    if (exists) {
                        //error occured
                        // remove it 
                        var parent = document.getElementById("divUname");
                        var child = document.getElementById("unameValidate");
                        parent.removeChild(child);
                        document.getElementById("Uname").style.borderColor = "green";
                    }
                }
            }).error(function (xhr, ajaxOptions, thrownError) {
                var para = document.createElement("p");
                para.setAttribute("id", "unameValidate")
                var node = document.createTextNode("Invalid username");
                para.appendChild(node);
                var element = document.getElementById("divUname");
                element.appendChild(para);

                var child = document.getElementById("unameValidate");
                element.replaceChild(para, child);

                document.getElementById("unameValidate").style.color = "red";
                document.getElementById("Uname").style.borderColor = "red";
            });
        }

        function checkRecoveryCode() {

            var code = document.getElementById("Rcode").value;
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '/Login/MatchPasscode',
                data: { passcode: code, username: name },
                dataType: "Json",
            }).success(function (result) {

                if (result.res) {
                    var exists = document.getElementById("passcodeValidate");
                    if (exists) {
                        //error occured
                        // remove it 
                        var parent = document.getElementById("divCode");
                        var child = document.getElementById("passcodeValidate");
                        parent.removeChild(child);
                        document.getElementById("Rcode").style.borderColor = "green";
                    } 
                } else {
                    var para = document.createElement("p");
                    para.setAttribute("id", "passcodeValidate")
                    var node = document.createTextNode("The passcode you have entered is incorrect. Please check your mails again.");
                    para.appendChild(node);
                    var element = document.getElementById("divCode");
                    element.appendChild(para);

                    var child = document.getElementById("passcodeValidate");
                    element.replaceChild(para, child);

                    document.getElementById("passcodeValidate").style.color = "red";
                    document.getElementById("Rcode").style.borderColor = "red";
                }
            }).error(function (xhr, ajaxOptions, thrownError) {
                window.alert(thrownError);
            });
        }
    </script>
</body>
</html>